/*~~~~~~~~~~~~~~~~~~~~*/
/* Color y Cuadro */
/*~~~~~~~~~~~~~~~~~~~~*/

.RRed {
  color: #eb1f10;
}

/* Add blue tag */
.blue {
  color: #0D395F;
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: #4C4B4C;
}

.lightgrey {
  color: #AAA59F;
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

/* Font size tags */
.big {
  font-size: 1.5em;
}

/* blockqui */
md-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #0D395F;
  background-color: #AAA59F;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* ru blockquote */
ru-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #cc0033;
  background-color: #818181;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
